
h1
{
color:#A4A4A4;
font-family: Century Gothic;
}

h2
{
color:#A4A4A4;
font-family: Century Gothic;
font-size:130%
}

h3
{
color:#000000;
font-family: Century Gothic;
font-size:95%
}

.container {	
	margin: 0 0 10px 0;
	width:800;
	margin-left:auto;
	margin-right:auto;
	background: #fff;
		
	}

#minitabs {
	margin-left: 0;
        margin-right:0;
        text-align:center;
	width:780;
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #A4A4A4;
        border-top: 1px solid #A4A4A4;
  
	}

#minitabs li {
	margin-left: auto;
        margin-right:auto;
	padding:0;
	display:inline;
	padding-left:0;
	padding-right:0;
	list-style-type: none;
	}
	
#minitabs a:link, #minitabs a:visited {
	float: left;
	font-size: 19px;
	line-height: 14px;
	font-weight: bold;
	margin: 0 17px 10px 17px;
	padding-bottom: 4px;
	text-decoration: none;
	color: #A4A4A4;
	}

#minitabs a.active:link, #minitabs a.active:visited, #minitabs a:hover {
	border-bottom: 4px solid #2E2E2E;
	padding-bottom: 2px;
	background: #fff;
	color: #2E2E2E;
	}

